
.carousel .carousel-control-prev {
  position: absolute;
  left: -10%;
  z-index: 1;

}

.carousel .carousel-control-next {
  position: absolute;
  right: -10%;
  z-index: 1;

}

.carousel-indicators {
  margin: 0px;
  height: 0px;
}

.carousel-indicators ol {
  width: 100%;
}

.carousel-indicators li {
  height: 3px !important;
  border-radius: 0px !important;
  width: 25%;
}
@media (max-width: 768px) {
  .carousel .carousel-control-prev {
    left: -3%;

  }

  .carousel .carousel-control-next {
    right: -3%;

  }
}
